<ion-view view-title="学习JavaScript模式">

    <ion-content>

        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="book in bookList"
                      type="item-text-wrap" href="#/tab/booklist/{{book.id}}">

                <h2>{{book.id}} {{book.name}}</h2>

                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(book)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
